{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Welcome to the Article Aggregator</h1>
        <p>
            <a href="{{ path('article_db') }}" class="btn btn-primary">View Articles from Database</a>
        </p>
        <p>
            <a href="{{ path('article_rss') }}" class="btn btn-primary">View Articles from RSS Feeds</a>
        </p>
    </div>
{% endblock %}
